/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 12, 2022, 11:00:35 PM
    Author     : Admin
*/


Text.Subject{
   -fx-font-size: 36px;
    -fx-fill: black;
    -fx-stroke-width:3;
    -fx-stroke : #ffc900;
    -fx-alignment: CENTER;
    -fx-font-family: Tahoma;
}